# 自动安装 peer 依赖
auto-install-peers=true

# 关闭 peer 依赖严格校验
strict-peer-dependencies=false

# 不强行提升依赖到顶层
shamefully-hoist=false

# 优先使用 lock 文件，强制按 lock 版本安装
prefer-frozen-lockfile=true

# 严格检查 Node.js/pnpm 版本
engine-strict=true

# 限制包管理工具只能用 pnpm
only-allow-pnpm=true
